.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 25, 29);
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 999;
}

.nav-logo {
  padding: 0.5rem;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 600;
  color: rgb(218, 12, 201);
  font-family: cursive;
}

.nav-links {
  padding: 0;
}

.nav-item {
  padding: 2rem;
  text-decoration: none;
  font-size: large;
  font-family: monospace;
  font-weight: bolder;
  color: rgb(17, 161, 171);
}

.nav-item:hover {
  padding: 2rem;
  text-decoration: none;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}




@media screen and (max-width: 480px) {
  .navbar {
    display: none; /* Changed from none to flex to make it visible */
  }

  .nav-item {
    display: block; /* Changed from none to block to make them visible */
    margin: 5px 0; /* Add some space between the navigation items */
  }

  .nav-links {
    display: none; /* Ensure the nav-links container is also displayed */
    align-items: center; /* Center the links */
    width: 100%; /* Use the full width of the navbar */
  }

  .nav-logo {
    margin-bottom: 10px; /* Add some space below the logo */
  }
}