.school{
    display: flex;
    flex-direction: row;
}

.education-section {
  padding: 20px;
  background-color: #020e13;
  border-color: rgb(70, 73, 75);
  border-style: solid;
  margin: 1rem;
  border-radius: 9px;
  
}

.education-section h2{
    color: rgb(188, 191, 184);
}

.education-item {
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(203, 200, 200);
}

.education-item h3{
    color: white;
    /* font-size: 20px; */
}
.institution {
  font-weight: bold;
  color: red;
}

.description {
  margin-top: 5px;
  color: rgb(139, 140, 141);
}

.instutution h4,.courses h4,.programs h4,.awards h4{
  font-size: 18px;
  color: rgb(71, 213, 9);
}

.courses h4{
  color: aqua;
}

.text{
  color: antiquewhite;
}