.school{
    display: flex;
    flex-direction: row;
}

.education-section {
  padding: 20px;
  background-color: #020e13;
  border-color: rgb(70, 73, 75);
  border-style: solid;
  margin: 1rem;
  border-radius: 9px;
  
}

.education-section h2{
    color: rgb(188, 191, 184);
}

.education-item {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(203, 200, 200);
}

.education-item h3{
    color: white;
}
.institution {
  font-weight: bold;
  color: red;
}

.description {
  margin-top: 5px;
  color: rgb(139, 140, 141);
}