
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.names {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #1d2225; 
    color: #333; 
    filter: blur(0px);
    z-index: 9999px;

}
.infos{
    padding: 4rem;
}
.infos .alert{
  color: #d90f0f;
  background-color: #1d2225;
  border-style: solid;
  border-color: #5e5c5c;
  font-size: 18px;

}

.blurred-background {
  position: relative;
  overflow: hidden;
}

.blurred-background::before {
  content: '';
  position: absolute;
  top: 10rem;
  left: 0;
  right: 10rem;
  bottom: 0;
  background-image: url('/src/assets/rename.png'); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  filter: blur(6px); /* Adjust the blur intensity as needed */
  z-index: -1;
}


.salutation {
  font-size: 2rem; /* Large font size for greeting */
  margin-bottom: 0.5rem;
  font-weight: bold; /* Bold font weight for emphasis */
  color: #6c757d; /* Grey color for salutation */
  font-family:var(--font-family);

  font-size:40px;
}

.first-name, .last-name {
  font-size: 3rem; /* Larger font size for names */
  font-weight: bold; /* Bold font weight for emphasis */
  font-family: var(--font-family);
}

.first-name {
  color: #e7eaed; /* Blue color for first name */
  font-family: var(--font-family);
  font-size: 80px;
}

.last-name {
  color: #28a745; /* Green color for last name */
  font-family: var(--font-family);
}

.title{
    color: hsl(0, 2%, 47%);
    font-size: 40px;
    font-family: var(--font-family);
    font-weight: 800;
}

.scrolling-button{
    position: relative;
    color: white;
    top: 2rem;
    font-size: 0px;
}

 a{
  font-size: 30px;
  color: white;
}
.icons a{
  color: white;
  font-size: 30px;
  margin: 0 2rem;
}
.scrolling-button a{
  display: inline-block; 
  animation: bounce 4s infinite; 
  font-weight: bolder;
  font-size: 80px;

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

